################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/panda3/v15/Server/sqlite3/db.lock
/.vs/panda3/v15/Server/sqlite3/storage.ide
/.vs/panda3/v15/Server/sqlite3/storage.ide-shm
/.vs/panda3/v15/Server/sqlite3/storage.ide-wal
