ul { 
    list-style: none;
    float: left;
}

ul > li {
    margin:0;
    padding: 0;
    float: left;
    position:relative;
    height: 30px;
}

ul > li ul {
    padding: 0;
    position: absolute;
    display: none;
    left: 0px;
    top: 30px;
    width: 200px;
    text-align: left;
    background-color: #b93232;
    border: 1px solid rgba(64, 158, 64, 0.8);
}

ul > li > a:hover,
ul > li:hover > a {
    color: #de5f44;
    text-decoration: underline;
}

ul > li ul ul {
    left: 200px;
    top: -1px;
}

.tytulNaglowka:hover{
    color: red;
}